html,
body,
#__next,
#main {
  height: 100%;
}

#main {
  position: relative;
}

#main .footer {
  position: absolute;
  bottom: 0;
  right: 1rem;
  left: 1rem;
}

#main.scrolled .footer {
  position: sticky;
}
